<div class="home">
  <div class="home--logo"><!-- LOGO --></div>
  <div class="home--description">
    <p>Este sitio se encuentra actualmente en desarrollo. En la siguiente lista se muestran los avances realizados:</p>
    <ul class="vertical-link-list">
      <li class="vertical-link-list--element">
        <a class="vertical-link-list--element--link" routerLink="/login">Login</a>
      </li>
      <li class="vertical-link-list--element">
        <a class="vertical-link-list--element--link" routerLink="/register">Registro de usuarios</a>
      </li>
      <li class="vertical-link-list--element">
        <a class="vertical-link-list--element--link" routerLink="/consulta">Consulta de registros</a>
      </li>
    </ul>
  </div>
</div>
