// COLORS
$color-gray-dark: rgb(65, 65, 65);
$color-gray: rgb(102, 102, 102);
$color-gray-light: #F7F7F7;
$color-gray-medium-light: rgb(158, 158, 158);
$color-secondary-medium: #EF5136;
$color-secondary-light: #FF7D66;

// DIMENSIONS
$page-width: 1080px;
$login-card-height: 26rem;
$login-card-width: 25rem;
$login-card-button-gutter: 1rem;
